myproject/node_modules
myproject/env
myproject/myapp/static/CACHE
myproject/myapp/__pycache__
.DS_Store
myproject/myproject/__pycache__/__init__.cpython-312.pyc
myproject/myproject/__pycache__/settings.cpython-312.pyc
myproject/myproject/__pycache__/urls.cpython-312.pyc
